:root {
    --header: #E4C3AD;
    --line: #5E4756;
    --feature: #0D1F2D;
    --font1: 'Crete Round', serif;
    --font2: 'Roboto', sans-serif;
}

.hero{
    width: 100%;
    height:580px;
}

.linebreak {
    margin-top: 5px;
    border-bottom: 10px solid var(--line);
}

#feature{
    margin-top: 20px;
}

.navheading{
    background-color: var(--header);
}

#feature2Section{
height: 450px;
margin-top: 20px;
background-color: var(--feature);
}

.feature2{
    font-size: calc(38px + (42 - 38) * ((100vw - 300px) / (1600 - 300)));
    color: aqua;
    text-transform: capitalize;
}
.feature2text{
    font-size: calc(26px + (30 - 26) * ((100vw - 300px) / (1600 - 300)));
    color: aqua;
}

.list-items{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: aqua;
}

.feat2 {
    margin-top: 120px;
    
}

.feature2pic {
    margin-top: 120px;
    margin-left: 100px;
}

