CSS HEX
--khaki: #afa497ff;
--melon: #feb4aeff;
--black: #080708ff;
--azure-web: #eaf4f4ff;
--wisteria: #a7a3e0ff;

CSS HSL 
--khaki: hsla{33, 13%, 64%, 1};
--melon: hsla{5, 98%, 84%, 1};
--black: hsla{300, 7%, 3%, 1};
--azure-web: hsla{180, 31%, 94%, 1};
--wisteria: hsla{44, 50%, 76%, 1};

SCSS HEX 
$khaki: #afa497ff;
$melon: #feb4aeff;
$black: #080708ff;
$azure-web: #eaf4f4ff;
$wisteria: #a7a3e0ff;

SCSS HSL 
$khaki: hsla(33, 13%, 64%, 1);
$melon: hsla(5, 98%, 84%, 1);
$black: hsla(300, 7%, 3%, 1);
$azure-web: hsla(180, 31%, 94%, 1);
$wisteria: hsla(244, 50%, 76%, 1);

SCSS RGB 
$khaki:rgba(175, 164, 151, 1);
$melon:rgba(254, 180, 174, 1);
$black:rgba(8, 7, 8, 1);
$azure-web:rgba(234, 244, 244, 1);
$wisteria:rgba(167, 163, 224, 1);

SCSS Gradient 
$gradient-top: linear-gradient(0deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-right: linear-gradient(90deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-bottom: linear-gradient(180deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-left: linear-gradient(270deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-top-right: linear-gradient(45deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-bottom-right: linear-gradient(135deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-top-left: linear-gradient(225deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-bottom-left: linear-gradient(315deg, #afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);
$gradient-radial: radial-gradient(#afa497ff, #feb4aeff, #080708ff, #eaf4f4ff, #a7a3e0ff);